.related-posts {
  margin: 3em 0;
  padding: 15px;
}
.related-posts-inner {
  //padding: 0.25em;
  //background: #FAFAFA;
  margin-top: 0.5em;
  .has-post-thumbnail .content {
    padding: 0.5em;
  }
  .loop-item {
    margin: 0.25em 0;
    background: white;
    display: block; 
    width: 100%; 
    border: 0;
    border: 1px solid $border-grey;
  }
  .post__featureimage {
    height: 150px;
    img {
      height: 100%; 
      width: auto;
    }
  }
  h3.body-copy {
    margin-top: 0;
  }
}
@include breakpoint($bp-medium){
  .related-posts-inner {
    display: flex;
    align-items: stretch; 
    .col-sm-3 {
      display: flex;
      align-items: stretch; 
      width: 25%; 
      float: left;    
    }
    .loop-item { 
      margin: 0.25em;
    }
  }
}