.widget_most_commented_widget, .widget_recent_comments, .tribe-events-list-widget {
  border: 1px solid $border-grey;
  clear: both;
  margin-bottom: 1em;
  h3 {
    margin: 0;
    @include font-size(1.2);
    background: $off-white;
    line-height: 50px;
    font-family: $secondary-font;
    padding: 0 1.125em;
    text-transform: uppercase;
  }
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    @include font-size(1.2);
    font-family: $secondary-font;
    border-bottom: 1px solid $off-white;
    padding: 0.5em 1.125em;
    &:hover {
      background: $off-white;
    }
  }
}
.tribe-events-list-widget {
  margin: 0 0 1em 0;
  padding: 0;
  font-family: $secondary-font;
  border: 1px solid $border-grey;
  p {
    @extend .meta;
  }
  h3 {
    background: $blue;
  }
  ol li {
    margin-bottom: 0;
  }
  .duration {
    font-weight: normal;
  }
  .tribe-events-widget-link {
    padding-left: 1em;
    padding-top: 1em;
  }
}

//Tubepress
.widget_tubepress {
  border-top: 1px solid $border-grey;
  border-left: 1px solid $border-grey;
  border-right: 1px solid $border-grey;

  h3 {
    @include font-size(1.2);
    font-family: $secondary-font;
    background: $purple;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding: 0 1.125em;
  }
}
.tubepress_sidebar {
  border-left: 1px solid $border-grey;
  border-right: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
  margin-bottom: 1em;
  .tubepress_thumb {
    float: left;
    width: 50%;
    //border: 1px solid red;
    img {
      padding: 1em 0.5em;
      width: 166px;
      height: 141px;

    }
  }
}