iframe {
  max-width: 100%;
}
span.bp-medium-up {
  display: none;
  @include breakpoint($bp-medium) {
    display: inline;
  }
}
h3.body-copy.label {
  background: $off-white; 
  padding: 0 1.25em;
  line-height: 50px; 
  height: 50px;  
  margin: 0;
  @include font-size(1.2); 
  font-family: $secondary-font;
  text-transform: uppercase;
}
.button__back {
  border-right: 1px solid rgba(black, 0.08);
  margin-right: 0.75em;
  &:before {
    font-family: 'pedagogmalmo';
    content: '\e803';
    padding: 0 0.75em;
    position: relative;
    display: inline-block;
    text-align: center;
  }
}
.rss-feed {
  display: none;
  opacity: 0.25;
  @include breakpoint($bp-medium) {
    display: inline;
  }
  &:before {
    font-family: 'pedagogmalmo';
    content: '\e804';
    padding: 0 0.75em;
    position: relative;
    display: inline-block;
    @include font-size(1.9);

  }
  &:hover {
      opacity: 1;
    }
}
.more-wrapper {
  text-align: right; 
}
.more-button {
  background: $light-grey;
  display: inline-block;
  text-transform: uppercase;
  padding: 1em;
  font-family: $secondary-font;
  font-weight: bold; 
  margin: 1em 0;
  @include font-size(1.2); 
  &:after {
    font-family: 'pedagogmalmo';
    content: '\e800';
    margin-left: 1em;
  }
  &:hover {
    background: darken($light-grey, 5%);
  }
}
.post-edit-link {
  @include font-size(1.2);
  background: $border-grey; 
  padding: 4px; 
  margin-top: 1em;
  display: inline-block;
}