.filmer {
  .single-page {
    h1 {
      // background: $purple;
      // font-family: $secondary-font;
      // @include font-size(1.4);
      // font-weight: bold;
      // text-transform: uppercase;
      // height: 50px;
      // line-height: 50px;
      // padding: 0 1.125em;
      // margin: 0;
      display: none;
    }
  }
  .page {
    padding: 1em;
  }
}
//Override Tubepress plugin style to make embedded viedeos responsive.
.tubepress_normal_embedded_wrapper {
  max-width: 100% !important;
}
.tubepress_container {
  font-family: $secondary-font;
  .pagination {
    width: 100%;
    margin: 0 auto;
    a {
      color: $black !important;
    }
  }
}

